<h1><%= user.email %></h1>

<%= link_to '追加', profile_user_path(user) %>
<%= link_to 'いいね', likes_user_path(user) %>
<%= link_to 'フォロー', follows_user_path(user) %>
<%= link_to 'フォロワー', followers_user_path(user) %>

<%= render 'shared/follow_btn', user: user %>
