= form_for(@video) do |f|
  - if @video.errors.any?
    #error_explanation
      %h2
        = pluralize(@video.errors.count, "error")
        prohibited this video from being saved:
      %ul
        - @video.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :title
    %br/
    = f.text_field :title, placeholder: "Describe your movie", class: 'form-control'
  .field
    = f.label :contents
    %br/
    = f.text_area :contents, placeholder: "Describe your movie", rows: "8", type: "text", class: 'form-control'
  #video_tag_tokens.field
    = f.text_field :tag_tokens, data: {load: @video.tags}, class: 'form-control'
  - @video_infos.each_with_index do |video_info, i|
    = hidden_field_tag "video_infos[#{i}][iframe]", video_info.iframe
    = hidden_field_tag "video_infos[#{i}][url]", video_info.url
    = hidden_field_tag "video_infos[#{i}][image_url]", video_info.image_urls.sample
  - @video_infos.each do |video_info|
    = video_info.iframe.html_safe
    - video_info.image_urls.each do |image_url|
      = image_tag image_url, width: "200px", height: "140px"
  .actions
    = f.submit
