<%= form_for(@video) do |f| %>
  <% if @video.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@video.errors.count, "error") %> prohibited this video from being saved:</h2>

      <ul>
      <% @video.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, placeholder: "Describe your movie" %>
  </div>

  <div class="field">
    <%= f.label :contents %><br>
    <%= f.text_area :contents, placeholder: "Describe your movie", rows: "8", type: "text"%>
  </div>

  <% @video_infos.each_with_index do |video_info, i| %>
    <%= hidden_field_tag "video_infos[#{i}][iframe]", video_info.iframe %>
    <%= hidden_field_tag "video_infos[#{i}][url]", video_info.url %>
    <%= hidden_field_tag "video_infos[#{i}][image_url]", video_info.image_urls.sample %>
  <% end %>

  <% @video_infos.each do |video_info| %>
    <%= video_info.iframe.html_safe %>
    <% video_info.image_urls.each do |image_url| %>
      <%= image_tag image_url, width: "200px", height: "140px" %>
    <% end %>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
