#videos
  #show
    .main-panel.col-md-9
      = @video.contents
      = @video.movies.first.iframe.html_safe
      %h1= @video.title
      .info.clearfix
        %span.user-thumb.pull-left
          = render 'shared/user_image', user: @video.user
        %dl.pull-left.byline
          %dt= @video.user.email
          %dt= render 'shared/follow_btn', user: @video.user
      = render 'shared/add_btn', video: @video
      = render 'shared/like_btn', video: @video
      %i.fa.fa-plus
      = @video.add_count
      %i.fa.fa-thumbs-up
      = @video.like_count
      %i.fa.fa-eye
      = @video.view
      %section.comments
        - @video.comments.each do |comment|
          　
          %article
            .info.clearfix
              %span.user-thumb.pull-left
                = render 'shared/user_image', user: comment.user
              %dl.pull-left.byline
                %dt= @video.user.email
                %dt= comment.contents
      - if current_user
        = form_tag post_comment_video_path do
          = text_area_tag :contents, '', placeholder: "コメントを入力してください", class: "form-control", row: 3
          = submit_tag "コメント", disable_with: 'コメント中', class: "btn"
    .side-panel.col-md-3
      %ul
        - Video.all.each do |video|
          %li.clearfix.list-item-related
            %span.thumb-related
              = link_to video_path(video) do
                = image_tag video.movies.first.image_url, width: '100px'
            %span
              = video.title
