- if current_user
  = form_tag new_video_path, method: :get do
    = text_field_tag "urls[]", "", placeholder: "http://"
    = submit_tag '動画を取得', data: {disable_with: 'Find...'}
  = link_to "sign out", destroy_user_session_path, method: :delete
= current_user.email if current_user
= link_to '新規登録', new_user_registration_path
= link_to 'ログイン', new_user_session_path
#timeline.centered
  - @videos.each do |video|
    .item
      = link_to video_path(video) do
        = image_tag video.movies.first.image_url, width: '212px'
      %div
        = video.title
        が追加しました。
      = render 'shared/add_btn', video: video
      = render 'shared/like_btn', video: video
      %div
        - video.comments.each do |comment|
          = comment.contents
          by #{comment.user.email}
