!!!
%html
  %head
    %title A button
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-default.navbar-fixed-top{:role => "navigation"}
      .container
        / Brand and toggle get grouped for better mobile display
        .navbar-header
          %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to 'A Button', root_path, class: 'navbar-brand'
        / Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li.active
              = link_to 'Popular', popular_videos_path
            %li
              = link_to 'Everything', everything_videos_path
            / %li.dropdown
            /   %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
            /     Dropdown
            /     %b.caret
            /   %ul.dropdown-menu
            /     %li
            /       %a{:href => "#"} Action
            /     %li
            /       %a{:href => "#"} Another action
            /     %li
            /       %a{:href => "#"} Something else here
            /     %li.divider
            /     %li
            /       %a{:href => "#"} Separated link
            /     %li.divider
            /     %li
            /       %a{:href => "#"} One more separated link
          = form_tag search_videos_path, method: :get, class: 'navbar-form navbar-left' do
            .form-group
              = text_field_tag 'word', '', placeholder: "Search", class: 'form-control'
            = submit_tag '検索', data: {disable_with: 'Find...'}, class: 'btn btn-default'
          - if current_user
            %ul.nav.navbar-nav.navbar-right
              %li
                %a.fancybox{href: "#add_movie", title: "Add a Movie"}
                  %i.fa.fa-plus-circle
                  アド
              %li.dropdown
                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                  = current_user.email
                  %b.caret
                %ul.dropdown-menu
                  %li= link_to 'プロフィール', profile_user_path(current_user)
                  %li= link_to '設定', edit_user_path(current_user)
                  %li.divider
                  %li= link_to "ログアウト", destroy_user_session_path, method: :delete
          - else
            %ul.nav.navbar-nav.navbar-right
              %li= link_to '新規登録', new_user_registration_path
              %li= link_to 'ログイン', new_user_session_path


          #add_movie{style: "width:500px; display: none;"}
            %p.add_movie_topic.clearfix
              動画を追加
            #url_form
              = form_tag new_video_path, method: :get do
                .url_form_field.url_form_add_link
                  = text_field_tag "urls[]", "", placeholder: "http://", class: 'form-control'
                / #url_form_for_multiply.url_form_add_link
                /   = link_to "連作を追加する", multiply_form_ajax_pins_path(amount: 1), remote: true
                .url_form_submit
                  = submit_tag '動画を取得', data: {disable_with: 'Find...'}, class: 'btn'
        / /.navbar-collapse
      / /.container-fluid
    .main-containar
      = yield
